/* From Uiverse.io by S4tyendra */
/* heart spinner */
.loading-wrapper {
    position: relative;
    width: 100%;
}

.loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-container .loading-preloader {
    animation: rotate 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}

@keyframes rotate {
    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

.loading-preloader span {
    --c: #175fb8;
    position: absolute;
    display: block;
    height: 64px;
    width: 64px;
    background: var(--c);
    border: 1px solid var(--c);
    border-radius: 100%;
}

.loading-preloader span:nth-child(1) {
    transform: translate(-28px, -28px);
    animation: shape_1 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}

@keyframes shape_1 {
    60% {
        transform: scale(0.4);
    }
}

.loading-preloader span:nth-child(2) {
    transform: translate(28px, -28px);
    animation: shape_2 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}

@keyframes shape_2 {
    40% {
        transform: scale(0.4);
    }
}

.loading-preloader span:nth-child(3) {
    position: relative;
    border-radius: 0px;
    transform: scale(0.98) rotate(-45deg);
    animation: shape_3 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}

@keyframes shape_3 {
    50% {
        border-radius: 100%;
        transform: scale(0.5) rotate(-45deg);
    }

    100% {
        transform: scale(0.98) rotate(-45deg);
    }
}

.loading-shadow {
    position: relative;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    height: 16px;
    width: 64px;
    border-radius: 50%;
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    animation: shadow 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}

@keyframes shadow {
    50% {
        transform: translateX(-50%) scale(0.5);
        border-color: #f2f2f2;
    }
}

/* main spinner */
/* From Uiverse.io by omriluz */
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-height: 150px;
}

.slider {
    overflow: hidden;
    background-color: white;
    margin: 0 15px;
    height: 80px;
    width: 20px;
    border-radius: 30px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 30px #fff,
        inset -5px -5px 10px rgba(0, 0, 255, 0.1),
        inset 5px 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 70px;
    border-radius: 100%;
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 420px 0 400px #2697f3,
        inset 0px 0px 0px rgba(0, 0, 0, 0.1);
    animation: animate_2 2.5s ease-in-out infinite;
    animation-delay: calc(-0.09s * var(--i));
}

@keyframes animate_2 {
    0% {
        transform: translateY(250px) rotate(-80deg);
        filter: hue-rotate(0deg);
    }

    50% {
        transform: translateY(0) rotate(0deg);
    }

    100% {
        transform: translateY(250px) rotate(80deg);
        filter: hue-rotate(180deg);
    }
}