.video-icon-container {
    transition: all 0.5s;
}

.video-icon {
    font-size: 1.8rem;
    transition: all 0.5s;
}

.video-tag {
    opacity: 0;
    transition: all 0.5s;
}

.video-icon-container:hover > .video-tag {
    opacity: 1;
}

.video-icon-container:hover > .video-icon {
    font-size: 1rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 커스텀 스크롤바 */

.custom-scrollbar {
    width: 100%;
    background : white;
    min-height: 300px; /* 최소 높이 고정 */
    height: 400px;
    overflow-y: scroll;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    border-radius: 10px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* 그래프 툴팁 */
.tooltip-container {
    color: black;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* sidebar */

.sidebar-container{
    width: 150px;
    background: black;
    height: 100vh;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: all 0.7s;
}

/* 사이드바 오른쪽에 튀어나온 버튼 */
.sidebar-toggle {
    position: absolute;
    top: 50%;
    right: -30px; /* 사이드바에서 삐져나온 위치 */
    width: 30px;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidebar-btn {
    width: 100%;
    background: none;
    border : none;
    color: white;
    margin-top: 20px;
    transition: all 0.5s;
}

.sidebar-btn:hover{
    color: #ff0000;
    font-weight: bold;
}

.sidebar-loading-btn {
    width: 100%;
    background: none;
    border : none;
    color: white;
    margin-top: 20px;
    transition: all 0.5s;
}