.video-icon-container {
    transition: all 0.5s;
}

.video-icon {
    font-size: 1.8rem;
    transition: all 0.5s;
}

.video-tag {
    opacity: 0;
    transition: all 0.5s;
}

.video-icon-container:hover > .video-tag {
    opacity: 1;
}

.video-icon-container:hover > .video-icon {
    font-size: 1rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* 그래프 툴팁 */
.tooltip-container {
    color: black;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}