body {
    margin : 0px;
    box-sizing: border-box;
}

.c-main {
    color : #ff0000;
}

.bg-main{
    background-color: #ff0000;
}

.a-tag {
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}

.a-tag:hover {
    color : #ff0000;
}

.row-center{
    justify-content: center;
    align-items: center;
}

.text-hide {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;  
}

.card-container{
    border: 1px solid #999999;
    padding : 20px;
    border-radius: 10px;
}

.refresh-btn {
    background: none;
    border : none;
    transition: all 0.5s;
}

.refresh-btn:hover {
    transform: rotate(180deg);
}

.tooltip {
    position: absolute;
    top: -35px; /* 아이콘 위에 표시되도록 위치 설정 */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 10;
    /* 말풍선처럼 삐죽 튀어나오게 하기 위해 추가 */
    display: inline-block;
    opacity: 0;
    transition: all 0.3s;
    visibility: hidden;
}

.tooltip::after {
    content: '';
    position: absolute;
    bottom: -10px; /* 말풍선이 아래로 튀어나오도록 설정 */
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent; /* 위쪽 삼각형 */
}

.icon-item:hover .tooltip {
    opacity: 1; /* hover 시 툴팁 표시 */
    visibility: visible; /* hover 시 툴팁 표시 */
}